<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.project.mapper.mmall_cartMapper">
  <resultMap id="BaseResultMap" type="com.imooc.project.entity.mmall_cart">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
    <result column="checked" jdbcType="INTEGER" property="checked" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, product_id, quantity, checked, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mmall_cart
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectProductExit" parameterType="map" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List"/>
      from mmall_cart
      where user_id=#{userId}
      and product_id=#{productId}

    </select>
  <select id="selectProductByUserId" parameterType="Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from mmall_cart
    where user_id=#{userId}

  </select>
  <select id="selectCartProductCheckedStatusByUserId" parameterType="Integer" resultType="Integer">
    select count(1) from mmall_cart where checked=0 and user_id=#{userId}
  </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mmall_cart
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.imooc.project.entity.mmall_cart">
    insert into mmall_cart (id, user_id, product_id, 
      quantity, checked, create_time, 
      update_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{productId,jdbcType=INTEGER}, 
      #{quantity,jdbcType=INTEGER}, #{checked,jdbcType=INTEGER},now(),now()
      )
  </insert>
  <insert id="insertSelective" parameterType="com.imooc.project.entity.mmall_cart">
    insert into mmall_cart
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="productId != null">
        product_id,
      </if>
      <if test="quantity != null">
        quantity,
      </if>
      <if test="checked != null">
        checked,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        #{productId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        #{quantity,jdbcType=INTEGER},
      </if>
      <if test="checked != null">
        #{checked,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        now(),
      </if>
      <if test="updateTime != null">
       now(),
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.imooc.project.entity.mmall_cart">
    update mmall_cart
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="productId != null">
        product_id = #{productId,jdbcType=INTEGER},
      </if>
      <if test="quantity != null">
        quantity = #{quantity,jdbcType=INTEGER},
      </if>
      <if test="checked != null">
        checked = #{checked,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = now(),
      </if>
      <if test="updateTime != null">
        update_time = now(),
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.imooc.project.entity.mmall_cart">
    update mmall_cart
    set user_id = #{userId,jdbcType=INTEGER},
      product_id = #{productId,jdbcType=INTEGER},
      quantity = #{quantity,jdbcType=INTEGER},
      checked = #{checked,jdbcType=INTEGER},
      create_time = now(),
      update_time = now()
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteProductFromCart">
  delete from mmall_cart where user_id=#{userId}
  <if test="productIds!=null" >
    and  product_id in
     <foreach item="ids" collection="productIds" open="(" separator="," close=")">
    #{ids}
     </foreach>
  </if>
  </delete>

<!--购物车中的全选，全不选，选择一个，或者不选择一个商品的sql语句 -->
  <update id="checkOrUnchecked" parameterType="map">
    update mmall_cart
    set checked=#{checked},
    update_time = now()
    where user_id=#{userId}
    <if test="productId!=null">
      and product_id=#{productId}
    </if>
  </update>

  <select id="getCartCount" parameterType="Integer">
    select IFNULL(sum(quantity),0) from mmall_cart where user_id=#{userId}
  </select>
</mapper>